<%= form_for(@micropost, html: { name: "micropost" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", 
          :onKeyUp => "textCounter()",
          :onKeyDown => "textCounter()" %>
  </div>
  <div id="micropost_counter">
    <b>140</b> characters left
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
